<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Check If Binary Tree Is Completed (Class 05)"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yyh.GetKeysInBinaryTreeLayerByLayer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Check If Binary Tree Is Completed (Class 05)"/>
</launchConfiguration>
