<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Binary Tree (Class 04)/src/com/yyh/IsBinarySearchTreeOrNotOptimization.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yyh.IsBinarySearchTreeOrNotOptimization"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Binary Tree (Class 04)"/>
</launchConfiguration>
