<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/121. Best Time to Buy and Sell Stock/src/com/yyh/MaxProfitDP.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yyh.MaxProfitDP"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="121. Best Time to Buy and Sell Stock"/>
</launchConfiguration>
