<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/All Subsets (Class 06)/src/com/yyh/SubSets.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yyh.SubSets"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="All Subsets (Class 06)"/>
</launchConfiguration>
