<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Get Keys In Binary Tree Layer By Layer Zig-Zag Order (Class 18)/src/com/yyh/ZigZag.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yyh.ZigZag"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Get Keys In Binary Tree Layer By Layer Zig-Zag Order (Class 18)"/>
</launchConfiguration>
